<div class="container">
    <div class="card">
        <img src="../../../assets/images/uploadPic.jpeg" alt="Upload Outfit" />
        <h2>Upload Outfit</h2>
        <p>Easily upload new outfits to your wardrobe!</p>
        <button (click)="navigateTo('upload-outfit')">Get Started</button>
    </div>

    <div class="card">
        <img src="../../../assets/images/WardrobePic.jpeg" alt="Organize Outfits" />
        <h2>Organize Outfits</h2>
        <p>Sort your outfits by season, style, or occasion!</p>
        <button (click)="navigateTo('wardrobe')">Get Started</button>
    </div>

    <div class="card">
        <img src="../../../assets/images/WardrobePic.jpeg" alt="Organize Outfits" />
        <h2>Generate Today's OOTD</h2>
        <p>Find the perfect outfit for today with just a click!</p>
        <button (click)="navigateTo('ootd')">Generate Now</button>
    </div>
</div>

