.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}



.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 30px
}

.content {
    
    text-align: center;
    padding: 20px;
    width: 30%;


}

.content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons button {
    background-color: #6c63ff;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #4c47cc;
}