
<header>
    <div class="logo">
        <h1>Slayrs</h1>
    </div>
    <nav>
        <a href="/home">Home</a>
        <a href="/upload-outfit">Upload Outfit</a>
        <a href="/wardrobe">Organize Outfit</a>
        <a *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
    </nav>
</header>
<main>
    
    <router-outlet></router-outlet>
    
</main>
<footer>
    <div>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="social-icons">
        <a href="#"><img src="https://via.placeholder.com/20" alt="Facebook" /></a>
        <a href="#"><img src="https://via.placeholder.com/20" alt="Twitter" /></a>
        <a href="#"><img src="https://via.placeholder.com/20" alt="Instagram" /></a>
    </div>
</footer>