<div class="container">





  <main class="main-content">
    <div class="left-panel">
      <div class="image-card">
        <img [src]="outfit.image_url" alt="Outfit" class="outfit-image" />
        <p class="outfit-name">{{ outfit.name }}</p>
      </div>
    </div>
    <div class="right-panel">
      <div class="tags-section">
        <h2>Name</h2>
        <input type="text" [(ngModel)]="outfit.tags" class="tags-input" />

      </div>
      <div class="description-section">
        <h2>Description</h2>
        <textarea [(ngModel)]="outfit.description" class="description-input"></textarea>
      </div>
      <div class="category-section">
        <h2>Category</h2>
        <div class="radio-group">
          <label>
            <input type="radio" name="category" value="Top" (change)="onCategoryChange('Top')"
              [(ngModel)]="outfit.category" />
            Top
          </label>
          <label>
            <input type="radio" name="category" value="Bottom" (change)="onCategoryChange('Bottom')"
              [(ngModel)]="outfit.category" />
            Bottom
          </label>
          <label>
            <input type="radio" name="category" value="Dress" (change)="onCategoryChange('Dress')"
              [(ngModel)]="outfit.category" />
            Dress
          </label>
          <label>
            <input type="radio" name="category" value="Footwear" (change)="onCategoryChange('Footwear')"
              [(ngModel)]="outfit.category" />
            Footwear
          </label>
          <label>
            <input type="radio" name="category" value="Accessories" (change)="onCategoryChange('Accessories')"
              [(ngModel)]="outfit.category" />
            Accessories
          </label>
        </div>
      </div>

      <!-- Subcategory -->
      <div *ngIf="subcategories.length > 0" class="mb-6 sub-category-section">
        <label for="subcategory" class="block text-left text-gray-700 font-medium">Select a Sub-category:</label>
        <select id="subcategory" [(ngModel)]="outfit.subcategory"
          class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
          <option value='' disabled>Select</option>
          <option *ngFor="let sub of subcategories" [value]="sub">{{ sub }}</option>
        </select>
      </div>
      <div class="delete-section flex flex-row justify-between">
        <button class="btn delete" (click)="deleteOutfit()">Delete Outfit</button>
        <div class="float-right ">
          <button class="edit-button mx-5 bg-indigo-600 text-white px-4 py-2 rounded-xl hover:bg-indigo-500"
            (click)="saveChanges()">Save Changes</button>
          <button class="cancel-button bg-gray-600 text-white px-4 py-2 rounded-xl hover:bg-gray-500"
            (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </main>
</div>