<div class="flex flex-row justify-around mx-auto items-center align-top mt-16 max-w-7xl">
  <div class="flex flex-col items-center  min-h-[calc(100vh-150px)]">
    <div class="relative w-[34rem] bg-white rounded-lg shadow-lg p-6 text-center"
      *ngFor="let card of cards; let i = index" [class.hidden]="currentCardIndex !== i">

      <h2 class="text-2xl font-bold text-gray-800">{{ card.title }}</h2>

      <!-- Items Aligned Horizontally -->
      <div class="flex overflow-x-auto mt-4 space-x-4">
        <div *ngFor="let item of card.items" class="flex-shrink-0">
          <h3 class="text-lg font-medium text-gray-700">{{ item.key }}</h3>
          <img [src]="item.clothId" [alt]="item.key" class="w-[15rem] h-[20rem] rounded-md shadow-sm" />
        </div>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="flex justify-between w-80 mt-6">
      <button
        class="py-2 px-4 bg-indigo-600 text-white rounded-lg hover:bg-indigo-500 disabled:bg-gray-300 disabled:cursor-not-allowed"
        (click)="prevCard()" [disabled]="currentCardIndex === 0">
        Previous
      </button>
      <button
        class="py-2 px-4 bg-indigo-600 text-white rounded-lg hover:bg-indigo-500 disabled:bg-gray-300 disabled:cursor-not-allowed"
        (click)="nextCard()" [disabled]="currentCardIndex === cards.length - 1">
        Next
      </button>
    </div>

    <!-- Regenerate Button -->
    <div class="mt-6">
      <button class="py-2 px-6 bg-green-600 text-white rounded-lg hover:bg-green-500" (click)="regenerateCards()">
        Regenerate
      </button>
    </div>
    <div class="mt-6">
      <button class="py-2 px-6 bg-green-600 text-white rounded-lg hover:bg-green-500"
        (click)="navigateToVirtualTryOn(cards[currentCardIndex].items[0].clothId,cards[currentCardIndex].items[1].clothId)">
        Virtual Try On
      </button>
    </div>

  </div>

  <div class="tryon ">
    <!-- Virtual Mirror -->
    <div class="lg:col-span-8 border border-neutral-200/30 rounded-2xl bg-white p-6" id="el-ymdvmcpr">
      <div class="relative aspect-[3/4] bg-neutral-100 rounded-xl overflow-hidden" id="el-dg7brhu3">
        <img src="https://placehold.co/600x800?text=Virtual+Mirror" alt="Virtual Try-On Mirror"
          class="w-auto h-auto object-cover transition-opacity duration-300 opacity-100" loading="lazy"
          id="el-foonyyk6">

        <div class="absolute bottom-4 left-4 right-4 backdrop-blur-sm rounded-lg p-4" id="el-dzjvirvv">
          <div class="flex items-center justify-between float-right" id="el-mdaxg83r">
            
            <button class="px-4 py-2 bg-neutral-900 text-white rounded-lg " id="el-kouo6msr">
              Save Look
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>