/* You can add global styles to this file, and also import other style files */
/* General Reset */
body {
   
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     /* Ensure the body takes up full viewport height */
}

/* Header Styling */
header {
    background-color: #6c63ff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
}

header .logo h1 {
    margin: 0;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    flex: 1; /* Fills the remaining space between header and footer */
    width: 100%; /* Ensure main content spans full width */
    padding: 20px; /* Add some padding for content */
    box-sizing: border-box;
    overflow-x: hidden; /* Include padding in width calculation */
}

/* Footer Styling */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    color: #555;
    display: flex;
    justify-content: center;
    gap: 30px;
   
    border-top: 1px solid #ddd;
    width: 100%; /* Ensure footer spans full width */
    position:absolute;
    bottom:0px;
}

footer a {
    color: #6c63ff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
    color: #4a41d4;
}

footer .social-icons {
    display: flex;
    gap: 10px;
}

footer .social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

footer .social-icons img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}
.error-text{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
